@use '../../Styles/variables' as *;
@use '../../Styles/mixins' as *;

.item-form{
    margin-top: 2rem;
    width: 25rem;
    &__input{
        width: 100%;
        padding: 0.5rem 0;
        border: none;
        border-bottom: 1px solid black;
        margin: 1rem 0;
        &:focus{
            outline: none;
        }
        &.error{
            border-color: red;
            &::placeholder{
                color: red;
            }
        }
        &--container{
            display: flex;
            align-items: center;
            position: relative;
        }
        &--errorAsterisk{
            right: 0;
            position: absolute;
            color: red;
            font-size: 1.5rem;
        }
    }
    &__textarea{
        width: 100%;
        border: none;
        border-bottom: 1px solid black;
        resize: none;
        height: 4rem;
        margin: 1rem 0;
        font-family: inherit;
        &:focus{
            outline: none;
        }
        &.error{
            border-color: red;
            &::placeholder{
                color: red;
            }
        }
    }
    &__submit{
        border-radius: 0;
        border: 1px solid black;
        background-color: white;
        padding: 0.5rem;
        margin: 1rem 0;
        transition: background-color ease 0.1s;
        &:hover{
            cursor: pointer;
            background-color: grey;
            border: 1px solid grey;
        }
        &:focus{
            background-color: black;
            border: 1px solid black;
            color: white;
        }
    }
}