@use '../../Styles/variables' as *;
@use '../../Styles/mixins' as *;

.hero{
    width: 100%;
    margin: 5rem 0rem 0rem 0rem;
    // display: flex;
    // justify-content: center;

    &__image{
        object-fit: cover;
        width: 95%;
        max-width: 80rem;
        @include tablet{
            height: 40rem;
        }

        &--container{
            width: 100%;
            display: flex;
            justify-content: center;
            padding: 1rem 0rem;
            position: relative;
            // background-color: red;
        }
        &--text{
            position: absolute;
            color: white;
            font-size: 5rem;
            bottom: 0;
            right: 0;
            font-family: cursive;
            &__container{
                width: 95%;
                max-width: 80rem;
                @include tablet{
                    height: 40rem;
                }
                position: absolute;
                // outline: lime 1px solid;
            }
            margin: 0 1.5rem 13.5rem 0;
            // @include laptop{
            //     margin-right: 5rem;
            // }
            // @include laptopL{
            //     margin-right: 10rem;
            // }
            // @include desktop{
            //     margin-right: 13rem;
            // }
            // @include desktopL{
            //     margin-right: 25rem;
            // }
        }
    }
}