@use '../../Styles/variables' as *;
@use '../../Styles/mixins' as *;

.item-details{
    &__title{
        &--wrapper{
            display: flex;
            align-items: center;
        }
    }
    &__availability{
        margin-left: 2rem;
        padding: 0.1rem;
        font-weight: 600;
        background-color: red;
        color: white;
    }
    &__color{
        padding: 0 0 1rem;
    }
    &__desc{
        padding: 0 0 2rem;
    }
    &__details{
        list-style-type: none;
        &--title{
            font-weight: 600;
        }
        &--feature{

        }
    }
    &__fit{
        &--title{
            margin-top: 1rem;
            font-weight: 600;
        }
    }

}