            // <-------> Jack Stasiulis' Custom Responsive design Breakpoints <-------> \\

$mobileS-breakpoint: 320px;
$mobileM-breakpoint: 375px;
$mobileL-breakpoint: 425px;

$tablet-breakpoint: 768px;
$laptop-breakpoint: 1024px;

$laptopL-breakpoint: 1440px; 
$desktop-breakpoint: 1620px; 

// $desktop-breakpoint: 1920px; 
// $desktop-breakpoint: 2560px; 

            // <-------> Jack Stasiulis' Custom Responsive design Breakpoints <-------> \\

// * * * NOTES * * * \\
// iPhone 11 pro - 375px
// iPhone 12 pro - 390px
// both included in mobileM