@use '../../Styles/variables' as *;
@use '../../Styles/mixins' as *;

.faq-dropdown {
    width: 25rem;
    &__item{
        height: 2.5rem;

        border-bottom: 1px solid #ccc;
        transition: height 0.2s ease-in-out;
        overflow: hidden;
        cursor: pointer;

        &.open{
            height: 8rem;
            .faq-dropdown__arrow{
                transform: rotate(90deg);
            }
        }
    }
    &__title{
        margin: 1rem 0;
    }
    &__question{
        display: flex;
        justify-content: space-between;
        font-size: 0.8rem;
        text-transform: uppercase;
        font-weight: 600;
        padding: 0.5rem 0;
        &:hover{
            cursor: pointer;
            opacity: 0.5;
        }
    }
    &__arrow {
        transition:(transform 0.2s ease-in-out);
    }
    &__answer{
        font-size: 0.8rem;
        padding: 0.5rem 0;
    }
}