@use '../../Styles/variables' as *;
@use '../../Styles/mixins' as *;

.navbar{
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: white;
    border-bottom: 1px solid lightgrey;

    &__logo{
        font-size: 2rem;
        // transition: ease .5s;
        &:hover{
            // kickflip animation
            // transform: rotateX(360deg) rotateY(20deg) ;
            cursor: pointer;
            opacity: 0.5;
        }
        // margin: 1rem 0 0rem 0;
    }
    &__option{
        margin: 0.5rem 1rem 1rem 1rem;
        &:hover{
            cursor: pointer;
            opacity: 0.5;
        }
        &--container{
            display: flex;
        }
    }
}