@use '../../Styles/variables' as *;
@use '../../Styles/mixins' as *;

.shop-section {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__cards{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, 20rem);
        grid-gap: 1rem;
        justify-content: center;
        @include tablet{
            width: 70%;
        }
        @include desktop{
            width: 50%;
        }

        &--container{
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }
}